/* formulario */
label{
    font-size: 15px !important;
    color: #000 !important;
    font-weight: 400 !important;
}

input{
    height: 2rem !important;
    margin: 0 0 12px 0 !important;
}

input::placeholder {
    color: #000;
    font-style: italic;
    font-weight: 200;
}

textarea::placeholder {
    color: #000;
    font-style: italic;
    font-weight: 200;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: rgb(211, 210, 210) !important; 
    color: black !important; 
}


/*preview select do formulario*/
.selected-container {
    display: flex;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    padding-top: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 1.4;
}

.selected-label {
    display: inline;
    text-align: center;
} 

/* modal */
#titulo {
    font-size: 24px; 
    color: #333; 
    text-align: center; 
    margin-top:-20px !important;
    line-height: 1.3;
}

.modal-content{
    padding: 12 !important;
    padding-top: -40px !important;
}

.modal-content h5
{
    margin-top: -8px;
    margin-bottom: 10px;
}

/* botoes data table */
.dataTables_length{
    display: none !important;
}

.dataTables_filter label {
    font-weight: bold !important;
    color: #333!important;
    text-align: center !important;
    display: block!important;
}

/* botoes */
.botaoAdiconarCadastro{
    font-weight: 500;
    align-items: center;
}

.botaoFiltro {
    background-color: #797979; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    font-size: 16px;
    font-weight: bold; 
    text-transform: uppercase; 
}

/* tabela */

tr:hover {background-color:  #e6e6e6 !important; }

td{ border-bottom: 2px solid #e6e6e6 !important; }

th {
    text-transform: uppercase;
    background-color: #0041a7;
    color: #fff;
    border-radius: 0px;
    padding: 9px !important;
    font-size: 15px;
    font-weight: '500' !important;
}

.BotaoTabela {
    margin: 10px !important;
}

.fa-trash-alt{
    color: #ff0000 !important;
}
.fa-edit{
    color: #ff7300 !important;
}
.fa-eye{
    color: #272727;
}
/* menu lateral */
.marginLeftTabela{
    margin-left: 120px !important;
}

@media screen and (max-width: 1206px) {
    .marginLeftTabela{
        margin-left: 10px !important;
    }
}

/* botao proximo/voltar do formulario */

.voltar-btn {
    border: 1px solid #333;
    background-color: #f0f0f0;
    color: #333;
    padding: 6px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.voltar-btn:hover {
    background-color: #ddd;
}

.texto-menu {
    position: absolute;
    color: #000; /* Cor do texto */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4px;
    text-align: center;
}