label{
    font-size: 15px !important;
    color: #000 !important;
    font-weight: 400 !important;
}

input{
    height: 2rem !important;
    margin: 0 0 12px 0 !important;
}

input::placeholder {
    color: #000;
    font-style: italic;
    font-weight: 200;
}

textarea::placeholder {
    color: #000;
    font-style: italic;
    font-weight: 200;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: rgb(211, 210, 210) !important; 
    color: black !important; 
}

/* modal */
#titulo {
    font-size: 24px; 
    color: #333; 
    text-align: center; 
    margin-top:-20px !important;
    line-height: 1.3;
}

.modal-content{
    padding: 12 !important;
    padding-top: -40px !important;
}

.modal-content h5
{
    margin-top: -8px;
    margin-bottom: 10px;
}

/* botoes data table */
.dataTables_length{
    display: none !important;
}

.dataTables_filter label {
    font-weight: bold !important;
    color: #333!important;
    text-align: center !important;
    display: block!important;
}

/* botoes */
.botaoAdiconarCadastro{
    bottom: 30px;
    right: 30px;
    position: fixed;
    width: auto;
}

.botaoFiltro {
    background-color: #797979; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none; /* Remova a borda padrão */
    border-radius: 5px; /* Cantos arredondados */
    cursor: pointer; /* Ícone de cursor de mão ao passar o mouse */
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
}

/* tabela */

tr:hover {background-color:  #e6e6e6 !important; }

td{ border-bottom: 2px solid #e6e6e6 !important; }

th {
    text-transform: uppercase;
    background-color: #0041a7;
    color: #fff;
    border-radius: 0px;
    padding: 9px !important;
    font-size: 15px;
    font-weight: '500' !important;
}

.BotaoTabela {
    margin: 10px !important;
    color: #000 !important;
}

/* menu lateral */
.marginLeftTabela{
    margin-left: 120px !important;
}

@media screen and (max-width: 1206px) {
    .marginLeftTabela{
        margin-left: 10px !important;
    }
}
